# Tomcat 配置
server:
  tomcat:
    uri-encoding: UTF-8
  port: 8080

logging:
  level:
    com:
      example:
        jpetstoreclient:
          persistance=trace:

# 数据源配置
spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
#    #本地数据库
    url: jdbc:mysql://127.0.0.1:3307/workshop?useUnicode=true&characterEncoding=utf-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
#    云端数据库
#    url: jdbc:mysql://122.51.105.149:3306/battery_network?useUnicode=true&characterEncoding=utf-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai
#    username: battery
#    password: 123456

  # 文件上传配置
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  #邮箱配置：
  mail:
    host: smtp.qq.com
    port: 587
    username: 2570089991@qq.com
    password: erjbxjpbqxgfecid
    properties:
      mail:
        smtp:
          auth:true
        starttls:
          enable:true
    default-encoding: UTF-8



#文件上传路径
file:
  upload-dir:

