<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataAlignmentAndFusionApplication.mapper.AlignmentResultMapper">

    <resultMap id="BaseResultMap" type="DataAlignmentAndFusionApplication.model.entity.AlignmentResult">
            <id property="taskId" column="task_id" />
            <result property="textAlignmentPath" column="text_alignment_path" />
            <result property="imageAlignmentPath" column="image_alignment_path" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        task_id,text_alignment_path,image_alignment_path,status
    </sql>
</mapper>
