<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataAlignmentAndFusionApplication.mapper.AlignmentResultMapper">

    <resultMap id="BaseResultMap" type="DataAlignmentAndFusionApplication.model.entity.AlignmentResult">
        <id property="id" column="id"/>
        <result property="alignmentMatrix" column="alignment_matrix"/>
        <result property="semanticAccuracy" column="semantic_accuracy"/>
        <result property="alignmentCoverage" column="alignment_coverage"/>
        <result property="diagonalSimilarity" column="diagonal_similarity"/>
        <result property="sourceIds" column="source_ids"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,alignment_matrix,semantic_accuracy,alignment_coverage,diagonal_similarity, source_ids
    </sql>
</mapper>
