<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataAlignmentAndFusionApplication.mapper.module.AnalysisRecordMapper">

    <resultMap id="BaseResultMap" type="DataAlignmentAndFusionApplication.model.entity.AnalysisRecord">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="analysisType" column="analysis_type" />
            <result property="dataSources" column="data_sources" />
            <result property="analysisMode" column="analysis_mode" />
            <result property="parameters" column="parameters" />
            <result property="resultStats" column="result_stats" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,analysis_type,data_sources,analysis_mode,parameters,
        result_stats,create_time
    </sql>
</mapper>
