<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataAlignmentAndFusionApplication.mapper.graph.KgConstructionMapper">

    <resultMap id="BaseResultMap" type="DataAlignmentAndFusionApplication.model.entity.KgConstruction">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="datasetId" column="dataset_id" />
            <result property="constructionMode" column="construction_mode" />
            <result property="config" column="config" />
            <result property="result" column="result" />
            <result property="graphId" column="graph_id" />
            <result property="recordType" column="record_type" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,dataset_id,construction_mode,config,result,
        graph_id,record_type,create_time
    </sql>
</mapper>
