<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataAlignmentAndFusionApplication.mapper.ReduceRecordMapper">

    <resultMap id="BaseResultMap" type="DataAlignmentAndFusionApplication.model.entity.ReduceRecord">
            <id property="id" column="id" />
            <result property="sourceId" column="sourceId" />
            <result property="status" column="status" />
            <result property="filename" column="filename" />
        <result property="patientId" column="patient_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,sourceId,status,filename,patient_id
    </sql>
</mapper>
