<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataAlignmentAndFusionApplication.mapper.module.UploadRecordMapper">

    <resultMap id="BaseResultMap" type="DataAlignmentAndFusionApplication.model.entity.UploadRecord">
            <id property="id" column="id" />
            <result property="rawPath" column="raw_path" />
            <result property="cleanPath" column="clean_path" />
            <result property="schemaRegistryPath" column="schema_registry_path" />
            <result property="reportDir" column="report_dir" />
            <result property="outputDir" column="output_dir" />
            <result property="processTime" column="process_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,raw_path,clean_path,schema_registry_path,report_dir,output_dir,
        process_time
    </sql>

</mapper>
