<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataAlignmentAndFusionApplication.mapper.UploadRecordMapper">

    <resultMap id="BaseResultMap" type="DataAlignmentAndFusionApplication.model.entity.UploadRecord">
            <id property="id" column="id" />
            <result property="taskId" column="task_id" />
            <result property="sourceId" column="source_id" />
            <result property="fileName" column="file_name" />
            <result property="rawPath" column="raw_path" />
            <result property="cleanDir" column="clean_dir" />
            <result property="cleanPath" column="clean_path" />
            <result property="outputDir" column="output_dir" />
            <result property="outputPath" column="output_path" />
            <result property="schemaRegistryPath" column="schema_registry_path" />
            <result property="reportDir" column="report_dir" />
            <result property="modalityType" column="modality_type" />
            <result property="institution" column="institution" />
            <result property="processTime" column="process_time" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,source_id,file_name,raw_path,clean_dir,
        clean_path,output_dir,output_path,schema_registry_path,report_dir,
        modality_type,institution,process_time,status
    </sql>
</mapper>
